body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f6f9;
}

header{
    background:#2E86DE;
    color:white;
    text-align:center;
    padding:20px;
}

.container{
    display:flex;
    justify-content:center;
    margin-top:40px;
}

.card{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    width:400px;
}

input,
select{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

.btn{
    display:inline-block;
    background:#2E86DE;
    color:white;
    padding:12px 20px;
    border-radius:5px;
    text-decoration:none;
    border:none;
    cursor:pointer;
}
